<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERROR</title>
    <link rel="icon" type="image/svg+xml" href="../public/images/favicon.svg">
    <style>
        body{
            text-align: center;
            font-family: "Century Gothic",sans-serif;
            font-size: 100px;
            color: white;
            background-color: #374045;
        }
        a{
            color: cornflowerblue;
        }
        a:hover{
            color: black;
        }
    </style>
</head>
<body>
<p><%= msg%></p>
<a href="<%= path%>">GO BACK</a>
</body>
</html>