<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin_View</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
</head>
<body>
<div class="user">
    <form method="post" action="/change">
        <table class="new">
            <tr style="font-size: 20px"><th>NAME</th><th>SELFIE</th><th>AADHAR NO.</th><th>VERIFIED</th></tr>
        </table>
    </form>
</div>

<script src="../public/javascripts/change.js"></script>
</body>
</html>