<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ADMIN ACCESS</title>
    <link rel="icon" type="image/svg+xml" href="../public/images/favicon.svg">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
</head>
<body>
<div class="srch">
    <h1>SUPPORT PAGE</h1>
    <a class="goto_link" href="/">HOME PAGE</a>
    <input type="text" CLASS="myInput" id="myInput2" onkeyup="myFunction2()" placeholder="SEARCH">
    <a class="logout" href="/logout">Log Out</a>
</div>

<div class="user" id="user">
    <table class="new">
        <tr style="font-size: 25px"><th>S. NO.</th><th>USER IMAGE</th><th>USERNAME</th><th>E-MAIL</th><th>PHONE NO.</th><th>QUERY</th><th>REASON</th><th>TICKET NO.</th></tr>
    </table>
</div>

<script src="../public/javascripts/search.js"></script>
<script src="../public/javascripts/support.js"></script>
</body>
</html>