body {
    margin: 75px 50px;
    text-align: center;
    background-color: #374045;
    color: white;
    font-size: 35px;
    font-family: "Century Gothic", sans-serif !important;
}
a{
    float: left;
    text-decoration:none;
    color: cornflowerblue;
}
a:hover{
    color: black;
}
ul{
    list-style-type: circle;
    display: table-row;
}
li{
    margin: 10px auto;
}