body {
    padding: 10px;
    font: 16px "Century Gothic", Helvetica, Arial, sans-serif;
}
table{
    width: 100%;
    border-collapse: collapse;
}
td,th{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
tr:nth-child(odd){
    background-color: #dddddd;
}
#myInput{
    margin: 5px 5px auto;
    text-align: center;
}
.srch{
    padding: 10px 10px;
    text-align: center;
    margin: auto;
}